---
layout: base.njk
title: Posts
description: Browse our posts and read a few if you fancy. 
permalink: "/posts/"
---

<h1>Our Posts</h1>

{% include "partials/postsList.njk" %}


<div class="d-flex justify-content-center gap-3 my-4">
    {% include "partials/btn.njk" %}
</div>


{% set url = "/contact" %}
{% set text = "Contact Us" %}
{% set style = "light" %}
{% include "partials/btn.njk" %}