<div>
  <footer class="py-2 mt-auto" id="footer-main">
    <div class="container d-flex flex-wrap justify-content-between align-items-center gap-4 fs-5 fw-normal">
      <div>
        © {{ global.currentYear }}
        <a href="/" class="text-decoration-none link-body-emphasis">{{ site.title }}</a>
      </div>

      <button
        class="btn btn-outline-light"
        type="button"
        onclick="toggleTheme()"
        aria-label="Toggle dark/light mode"
      >
        <i id="theme-icon" class="bi bi-moon-fill"></i>
      </button>
    </div>
  </footer>
</div>
