<div class="">

  <footer class="py-4 mt-auto" id="footer-main">
    <br>
    <br>
    <div class="container d-flex flex-wrap justify-content-between align-items-center gap-4 text-light fs-5 fw-normal">
      <div class="">
        © {{ global.currentYear }}
        <a href="/" class="text-decoration-none text-light">{{ site.title }}</a>
      </div>
    </div>
  </footer>
</div>