<div class="map-preview">
  <iframe
    src="https://www.google.com/maps?q={{ mapAddress | urlencode }}&output=embed"
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    allowfullscreen
    class="w-100 rounded-4"
    style="min-height: 300px;"
  ></iframe>
</div>
